Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

/* URXVT */

!URxvt*font: 			-*-tamzen-medium-*-*-*-16-*-*-*-*-*-*-*
URxvt*font: 			xft:dina:size=10
!URxvt.letterSpace: 	        -1
!URxvt*transparent:		true
!URxvt.font:                    vixft:tewi
!URxvt*font: 			xft:Liberation Mono
!URxvt*depth:       		32
!URxvt*shading: 		15
URxvt*borderless: 		1
URxvt*scrollBar:    	        false
URxvt*saveLines:  		5000
URxvt*termName:    		rxvt-unicode
Urxvt*buffered:                 false
URxvt.iso14755: 		false
URxvt.iso14755_52: 		false
URxvt.perl-ext-common: resize-font

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #101010
*.color8:       #404040

! red
*.color1:       #c2454e
*.color9:       #ef5847

! green
*.color2:       #b8d68c
*.color10:      #a0cf5d

! yellow
*.color3:       #e1aa5d
*.color11:      #f39d21

! blue
*.color4:       #7dc1cf
*.color12:      #4e9fb1

! magenta
*.color5:       #9b64fb
*.color13:      #8542ff

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #dddddd
